<div class="container">
  <div>
    <label>What's on your mind?</label>
    <textarea #content type="text" cols="50" rows="10"> </textarea>
    <button style="padding: 7px 15px;" class="button" type="submit"
      (click)="addPost(content.value); content.value = ''">Post</button>
  </div>
</div>


<div class="post" *ngFor="let p of db.allPosts; let i = index">
  <p>
    {{p.content}}
    <button class="button" (click)="countLike(i)"> ({{p.likes}}) Like </button>
    <button class="button" style="background: red" (click)="deletePost(i)"> Delete </button>
  </p>
  <div class="comment" *ngFor="let comment of p.comments; let j = index">
    <p>
      {{comment.content}}
      <button class="button" style="background: red" (click)="deleteComment(i,j)"> Delete </button>
    </p>
  </div>
  <textarea #comment type="text" cols="50" rows="2"> </textarea>
  <button class="button" type="submit" (click)="addComment(comment.value, i); comment.value = ''"> Reply </button>
</div>